/*-- scss:defaults --*/
// 这里是变量覆盖（在引入 Bootstrap 之前生效）
// 例如：$body-color: #111;
//       $font-size-base: 1rem;

/*-- scss:rules --*/
main.content { max-width: 980px; line-height: 1.65; }
pre code { font-size: .95rem; }
// 你的自定义选择器都放在 rules 分区里
